@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
    font-family: "GothicByte";
    src: url("./fonts/GothicByte.ttf") format("truetype");
}

body,
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

header a {
    color: white;
    font-family: "GothicByte", serif;
    font-size: 30px;
    white-space: nowrap;
    font-weight: 300;
}

header .side {
    display: flex;
    align-items: center;
}

header .side:nth-child(1) {
    flex: 1;
    justify-content: flex-start;
}

header .side:nth-child(2) {
    flex: 2;
    justify-content: flex-end;
}

header .side:nth-child(2) ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1.5em;
    padding: 0;
}

header .side:nth-child(2) ul li a {
    font-family: "Pixelify Sans", serif;
    font-size: 28px;
    transition: all 0.3s ease;
}

header .side:nth-child(2) ul li a:hover {
    transform: translateY(-1px);
    color: #9a9898;
}

main {
    width: 100%;
    height: auto;
    margin-top: 20vh;
}

main .second-sec {
    width: 100%;
    height: 20.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

main .second-sec img {
    width: 21.938em;
    height: 21.938em;
}

main .second-sec .text {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
}

main .second-sec .text h1 {
    color: white;
    font-family: "Pixelify Sans", serif;
    font-size: 50px;
    font-weight: 300;
}

main .second-sec .text p {
    color: #9a9898;
    font-family: "Ubuntu Mono", serif;
    font-size: 30px;
    margin-top: 3vh;
    line-height: 1.2;
}

main .partners {
    width: 100%;
    height: 24.125em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
}

main .partners h1 {
    color: white;
    font-family: "Pixelify Sans", serif;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 0.5em;
}

main .partners img {
    width: 21.214em;
    height: 5.688em;
    margin-top: 3em;
}

main .meet {
    width: 100%;
    height: 37.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .meet #meet-title {
    color: white;
    font-family: "Pixelify Sans", serif;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 1em;
}

main .meet .team {
    width: 100%;
    height: auto;
}

main .meet .team ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main .meet .team ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

main .meet .team ul li .team-img {
    width: 17.199em;
    height: 17.199em;
    border-radius: 50%;
    object-fit: cover;
}

main .meet .team ul li h1 {
    color: white;
    font-family: "Pixelify Sans", serif;
    font-weight: 300;
    font-size: 30px;
}

main .meet .team ul li h2 {
    font-family: "Pixelify Sans", serif;
    color: white;
}

main .meet .team ul li p {
    color: #9a9898;
    font-family: "Ubuntu Mono", serif;
    font-size: 25px;
}

main .event {
    width: 100%;
    height: 37.938em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .event h1 {
    color: white;
    font-family: "Pixelify Sans", serif;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 2em;
}

main .event .images {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .event .images img {
    width: 23.125em;
    height: 22.572em;
}

main .contact {
    width: 100%;
    height: 37.563em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .contact .content {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .contact h1 {
    color: white;
    font-family: "Pixelify Sans", serif;
    font-size: 50px;
    font-weight: 300;
}

main .contact .content .inf {
    width: 40%;
    height: auto;
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
}

main .contact .content .inf h2 {
    color: #9a9898;
    font-family: "Ubuntu Mono", serif;
    font-size: 28px;
    font-weight: 300;
}

main .contact .content .inf button {
    background: transparent;
    border: 6px solid #fff;
    width: 8.125em;
    height: 2em;
    font-family: "Pixelify Sans", serif;
    font-size: 32px;
}

footer {
    width: 100%;
    height: 11.575em;
    background: url("/assets/images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .up button {
    width: 3.976em;
    height: 3.944em;
    border-radius: 50%;
    background: none;
    border: none;
    margin: 1em;
}

footer .bt h1 {
    font-family: "Pixelify Sans", serif;
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin-top: 1em;
}

@media (max-width: 1200px) {
    header {
        height: auto;
        padding: 1em;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 1);
    }

    header .side:nth-child(2) ul {
        flex-direction: column;
        gap: 1em;
    }

    header .side:nth-child(2) ul li a {
        font-size: 20px;
    }

    main {
        margin-top: 50vh;
    }

    main .second-sec {
        flex-wrap: wrap;
        height: auto;
        padding: 1em;
    }

    main .second-sec img {
        width: 18em;
        height: 18em;
    }

    main .second-sec .text {
        width: 50%;
    }

    main .meet .team ul {
        flex-wrap: wrap;
        gap: 1em;
    }

    main .meet .team ul li {
        width: 45%;
    }

    main .meet .team ul li .team-img {
        width: 12em;
        height: 12em;
    }

    main .event .images {
        flex-wrap: wrap;
        gap: 1em;
    }

    main .event .images img {
        width: 18em;
        height: auto;
    }

    main .contact .content {
        width: 80%;
    }
}

@media (max-width: 900px) {
    main .second-sec {
        flex-direction: column;
        text-align: center;
    }

    main .second-sec img {
        width: 15em;
        height: 15em;
    }

    main .second-sec .text {
        width: 80%;
    }

    main .second-sec .text h1 {
        font-size: 40px;
    }

    main .second-sec .text p {
        font-size: 25px;
    }

    main .partners {
        height: auto;
        padding: 2em 0;
        margin-top: 3em;
    }

    main .partners h1 {
        font-size: 40px;
    }

    main .partners img {
        width: 18em;
        height: auto;
    }

    main .meet {
        height: auto;
        padding: 2em 0;
    }

    main .meet #meet-title {
        font-size: 40px;
    }

    main .meet .team ul li {
        width: 100%;
    }

    main .meet .team ul li .team-img {
        width: 10em;
        height: 10em;
    }

    main .meet .team ul li h1 {
        font-size: 25px;
    }

    main .meet .team ul li p {
        font-size: 20px;
    }

    main .event {
        height: auto;
        padding: 2em 0;
    }

    main .event h1 {
        font-size: 40px;
    }

    main .event .images img {
        width: 15em;
    }

    main .contact {
        height: auto;
        padding: 2em 0;
    }

    main .contact h1 {
        font-size: 40px;
    }

    main .contact .content {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    main .contact .content .inf {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 600px) {
    main .second-sec img {
        width: 12em;
        height: 12em;
    }

    main .second-sec .text h1 {
        font-size: 30px;
    }

    main .second-sec .text p {
        font-size: 20px;
    }

    main .partners h1 {
        font-size: 30px;
    }

    main .partners img {
        width: 12em;
    }

    main .meet #meet-title {
        font-size: 30px;
    }

    main .meet .team ul li h1 {
        font-size: 20px;
    }

    main .meet .team ul li .team-img {
        width: 8em;
        height: 8em;
    }

    main .meet .team ul li p {
        font-size: 18px;
    }

    main .event h1 {
        font-size: 30px;
    }

    main .event .images img {
        width: 100%;
        max-width: 12em;
        height: auto;
    }

    main .contact h1 {
        font-size: 30px;
    }

    main .contact .content .inf h2 {
        font-size: 20px;
    }

    main .contact .content .inf button {
        width: 6em;
        font-size: 20px;
        border-width: 4px;
    }

    main .contact .content img {
        width: 10em;
        height: auto;
    }

    footer .up button {
        width: 2.5em;
        height: 2.5em;
        margin: 0.5em;
    }

    footer .up button img {
        width: 100%;
        height: auto;
    }

    footer {
        height: auto;
        padding: 1em 0;
    }

    footer .bt h1 {
        font-size: 20px;
    }
}
